
<div class="wrapper">
<form class="login" name="frmLogin" (ngSubmit)="inscription()">
    <h1>
    {{Titre}}
    </h1>
    <div class="form-group">
        <label for="login">{{lblNom}}</label>
        <input type="text" id="nom" name="nom" class="form-control" [(ngModel)]="nom"/>
        <i class="fa fa-address-book"></i>
    </div>
    <div class="form-group">
        <label for="login">{{lblPrenom}}</label>
        <input type="text" id="prenom" name="prenom" class="form-control" [(ngModel)]="prenom"/>
        <i class="fa fa-address-card"></i>
    </div>
    <div class="form-group">
        <label for="login">{{lblLogin}}</label>
        <input type="text" id="login" name="login" class="form-control" [(ngModel)]="login"/>
        <i class="fa fa-user"></i>
    </div>
    <div class="form-group">
        <label for="mdp">{{lblMdp}}</label>
        <input type="password" id="mdp" name="mdp" class="form-control" [(ngModel)]="mdp"/>
        <i class="fa fa-key"></i>
    </div>
    <div class="form-group">
        <label for="mdp2">{{lblMdp2}}</label>
        <input type="password" id="mdp2" name="mdp2" class="form-control" [(ngModel)]="mdp2"/>
        <i class="fa fa-key"></i>
    </div>
    <div class="alert {{typeAlert}}" [hidden]="estCache">{{lblMessage}}</div>
    <div class="form-group">
        <button class="state" type="submit"><i class="fas fa-check-circle"></i> Valider</button>
    </div>
</form>
</div>
