<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div class="container tableauvisite">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Id Visite</th>
      <th scope="col">Nom Visite</th>
      <th scope="col">Description Visite</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let uneVisite of lesVisites">
      <th scope="row">{{ uneVisite.IDVISITE }}</th>
      <th scope="row">{{ uneVisite.DESIVISITE }}</th>
      <th scope="row">{{ uneVisite.DESCRIPTIONVISITE }}</th>
    </tr>
    </tbody>
  </table>
</div>
