<app-navbar></app-navbar>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id Visite</th>
            <th scope="col">Nom Visite</th>
            <th scope="col">Description Visite</th>
            <th scope="row">Participer</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let uneVisite of lesVisites">
            <th scope="row">{{ uneVisite.IDVISITE }}</th>
            <th scope="row">{{ uneVisite.DESIVISITE }}</th>
            <th scope="row">{{ uneVisite.DESCRIPTIONVISITE }}</th>
            <th scope="row"><button type="button" class="btn btn-danger" (click)="desinscrire(uneVisite.IDVISITE)">Se Désinscrire</button></th>
        </tr>
        </tbody>
    </table>
</div>
