<app-navbar></app-navbar>

<div class="container">
  <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom Visite</th>
                <th scope="col">Description Visite</th>
                <th scope="row">Participer</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let uneVisite of lesVisites">
                <th scope="row">{{ uneVisite.desiVisite }}</th>
                <th scope="row">{{ uneVisite.descriptionVisite }}</th>
                <th scope="row"><button type="button" class="btn btn-primary" (click)="participer(uneVisite.idVisite)">Participer</button></th>
            </tr>
        </tbody>
    </table>
</div>
