<div class="wrapper">
    <form class="login" name="frmLogin" (ngSubmit)="connexion()">
        <h1>
            {{Titre}}
        </h1>
        <div class="form-group">
            <label for="login">{{lblLogin}}</label>
            <input type="text" id="login" name="login" class="form-control" [(ngModel)]="login"/>
            <i class="fa fa-user"></i>
        </div>
        <div class="form-group">
            <label for="mdp">{{lblMdp}}</label>
            <input type="password" id="mdp" name="mdp" class="form-control" [(ngModel)]="mdp"/>
            <i class="fa fa-key"></i>
        </div>
        <div class="form-group">
            <button class="state" type="submit"><i class="fas fa-check-circle"></i> Valider</button>
        </div>
        <div class="alert alert-danger" [hidden]="estCache">{{lblMessage}}</div>
    </form>
</div>
